extends ../../../node_modules/@scsa/styling/src/server/views/main.pug

mixin subsystem(application)
    div(
        src=application.options.url + "api/fragments"
        title=application.options.text
        data-endpoint=application.options.text
        class="Socket Socket--fullBleed"
    )
        esi:include(src=application.options.url + "api/fragments/compoxure")

block top
    +subsystem(APPLICATIONS.Sales)

block left
    +subsystem(APPLICATIONS.Catalogue)

block right
    +subsystem(APPLICATIONS.Checkout)
